*, html, body {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

a {
  text-decoration: none;
}
a, a:hover, a:visited {
  color: black
}

.header {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto auto;
  height: 100px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
  background-color: black;
}
.header a {
  color: #ddd;
}

.header .logo {
  margin: 0;
  grid-column: 1;
  margin-left: 30px;
}
.header .cart {
  grid-column: 5;
}
.header .cart > div {
  float:right;
  margin-right: 50px;
}

.product-container {
  padding: 10px 40px;
}

.product-container .product-filter {
  padding: 10px 0;
}

.product-grid .product {
  margin-bottom: 10px;
}
.product-grid .thumbnail, .product-grid .product-details {
  float: left;
}

.product-grid .product-details {
  padding-left: 20px;
}

.product-grid .product:after {
  content: "";
  display: table;
  clear: both;
}

.product-grid .product .title {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  margin: 0 0 5px 0;
}
.product-grid .product .price {
  font-weight: bold;
  font-size: 0.9em;
}
.product-grid .product .out-of-stock {
  color: #ddd;
}

.product-detail-container {
  padding:10px 40px;
}
.product-detail-container .product-description .tag{
  margin-right: 7px;
}
.product-detail-container .average-reviews {
  margin: 15px 0 5px 0;
}
.product-detail-container .purchas-options > * {
  display: inline-block;
  margin-right: 10px;
}

.cart-container {
  width: 50%;
  margin: 0 auto;
}
.cart-container table {
  width: 100%;
}
.cart-container table th {
  text-align: left;
}
.error {
  color: red;
  font-weight: bold;
  font-size: 1.4em;
}

@media screen and (min-width: 768px) {
  .product-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }
  .product-grid .product {
    margin-bottom: 0;
  }
  .product-grid .thumbnail, .product-grid .product-details {
    float: none;
  }
  .product-grid .product-details {
    padding-left: 0px;
  }

}
